#start{ display:block; width: 100px; height:50px; line-height: 50px; text-align:center; background:blue; color:#fff;}
#nav ul{ display:none;}
#nav ul li{ position: relative; z-index:1; width: 140px; list-style-type: none;}
#nav ul li a{ position:relative; display: block;  padding:0 2.5em; height: 32px; line-height: 32px; text-align: left; background:rgb(235, 239, 242); border:1px solid rgb(216, 224, 230);}
#nav ul li a .badge{ display: block; position: absolute; z-index:1; top:5px; right:5px; background:rgb(73, 91, 121);}
#nav ul li a.selected,
#nav ul li a:hover{ text-decoration: none; background:rgb(73, 91, 121); color:#fff;}
#nav ul li ul{ position: absolute; z-index: 1; top:0; left: 100%; margin:0; padding:0; border-left:4px solid rgb(73, 91, 121);}
#nav ul li ul li{ display: inline-block; width: 100%; word-break: keep-all;}
#nav ul li ul.left{ left:auto; right:100%; border-right:4px solid rgb(73, 91, 121); border-left:none; }