<!DOCTYPE html>
<html>
  <head>
    <title>session中间件的简单使用示例</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form id="form1" method="post" action="index.ejs">
        <input type="submit" value="提交" />
    </form>
  </body>
</html>