@charset "utf-8";
/* CSS Document */
.fwxx_mb_warp {width:1190px; margin:0 auto;}
.fwxx_mianbaoxie {margin:15px 0px 15px 0px; color:#666666; font-size:14px; font-family:"宋体";}
.fwxx_xx_fdj {width:445px; float:left;}

.fwxx_xx_fdj_text {float:right; width:721px;}
.fwxx_xx_fdj_text h1 { height:35px; line-height:35px; text-indent:4px; font-size:20px; font-family:"微软雅黑"; color:#000; display:block;}
.fwxx_xx_fdj_text .gz{ height:25px; line-height:25px;}
.fwxx_xx_fdj_text .gz a {background:#ff9900; display:block; width:55px; height:25px; float:left; line-height:25px; text-align:center; color:#FFF;font-size:12px; font-family:"宋体"; *margin-top:-25px;}
.fwxx_xx_fdj_text ul {margin-top:10px;}
.fwxx_xx_fdj_text ul li { height:21px; line-height:21px; font-size:14px; font-family:"宋体";}
.fwxx_xx_fdj_text ul li span { margin-left:-8px; color:#1369c0; font-size:14px; font-family:"宋体";}
.fwxx_xx_fdj_text p {display:block; height:85px; margin:15px 0px 20px 0px; }
.fwxx_xx_fdj_text p b {display:block; height:40px; line-height:40px; font-weight:normal; font-size:14px; font-family:"宋体"; color:#666;}
.fwxx_xx_fdj_text p b span { margin-left:4px; font-family:"微软雅黑"; font-size:22px; color:#ff9900;}
.fwxx_xx_fdj_text h2 {font-size:14px; font-family:"宋体"; color:#1369c0; background:url(../images/fwxx_dianhua.jpg) no-repeat left center; height:30px; line-height:30px; padding-left:25px;}
.fwxx_xx_fdj_text h2 a {color:#fda102; font-size:14px; font-family:"宋体"; font-weight:bold; margin-right:10px;}
.fwxx_xx_fdj_text h3 {font-size:14px; font-family:"宋体"; color:#009933; line-height:30px;}
.fwxx_xx_fdj_text_menu {margin-top:10px;}
.fwxx_xx_fdj_text_menu a {float:left; margin-right:20px;}
.fwxx_xx_fdj_text_menu_1 {display:block; width:135px; height:40px; color:#FFF; background:url(../images/fwxx_menu_03.jpg) no-repeat; text-align:center; line-height:40px; font-size:22px; font-family:"微软雅黑";}
.fwxx_xx_fdj_text_menu_1:hover {text-decoration:none; color:#ffffff;}
.fwxx_xx_fdj_text_menu_2 {display:block; width:160px; height:40px; color:#FFF; background:url(../images/fwxx_menu_05.jpg) no-repeat; line-height:40px; font-size:22px; font-family:"微软雅黑"; text-indent:40px;}
.fwxx_xx_fdj_text_menu_2:hover {text-decoration:none; color:#ffffff;}
.fwxx_xx_wenzi_warp {margin-top:20px;}
.fwxx_xx_wenzi_left {float:left; width:920px;}
.fwxx_xx_wenzi_left_title {border-bottom:#1369c0 2px solid;}
.fwxx_xx_wenzi_left_title a {display:block; width:120px; height:35px; float:left; color:#333333; font-size:16px; font-family:"微软雅黑"; text-align:center; line-height:35px;}
.fwxx_xx_wenzi_left_title a span{color:#f60; font-size:16px; margin-left:5px;}
.fwxx_xx_wenzi_left_title .selected a {background:#1369c0; color:#FFF; text-decoration:none;}
.fwxx_xx_wenzi_left_title .selected a span{color:#fff;}
.fwxx_xx_wenzi_left_title a.selete {display:block; width:120px; height:35px; float:left; background:#1369c0; text-align:center; line-height:35px; color:#FFF; font-family:20px; font-size:16px; font-family:"微软雅黑"; text-decoration:none;}
.fwxx_xx_wenzi_bianjishuru {margin-top:10px; width:860px; border:#eeeeee 1px solid; line-height:30px; color:#666666; padding:30px; font-size:14px; font-family:"宋体";}
.fwxx_xx_wenzi_bianjishuru p.text{line-height:30px; color:#666666; font-size:14px; font-family:"宋体"; text-indent:2em;}
.box_info{ position:absolute; top:0; right:0; width:238px; height:374px; border:1px solid #f90;}
.box_info h3{ height:34px; line-height:34px; background:#f90; color:#fff; font-weight:bold; text-indent:19px; font-size:16px;}
.box_info ul{ padding-top:3px;}
.box_info ul li{ height:28px; line-height:28px; font-size:14px; color:#666; text-indent:12px;}
.box_info .box_qq{ height:25px;}
.box_info .box_qq .qq,
.box_info .box_qq .dp{ float:left; margin-left:28px; width:77px; height:22px; line-height:22px; text-align:center;}
.box_info .box_qq .dp{ margin-left:26px; background:url(../images/dp.png) no-repeat; color:#fff;}
.box_info h4{ position:relative; z-index:1; height:32px; line-height:32px; padding:35px 0 0 12px; border-bottom:1px solid #f90; color:#f90; font-weight:bold; font-size:14px;}
.box_info h4 .gz{ position:absolute; z-index:1; right:0; bottom:0;}
.box_info .jg{ padding-top:20px; height:24px; line-height:24px; font-family:"宋体"; text-align:center; font-size:14px; color:#333;}

.fwxx_xx_wenzi_right {float:right; width:240px;}

.fwxx_xx_jgjbxx h1 {font-size:20px;  font-family:"微软雅黑"; color:#333333;}
.fwxx_xx_jgjbxx  p {width:240px; height:178px; margin-top:10px;}
.fwxx_xx_jgjbxx  p img {width:240px; height:178px;}
.fwxx_xx_jgjbxx ul {display:block; margin:20px 0px 30px 0px; line-height:35px;}
.fwxx_xx_jgjbxx ul li {color:#666666; font-size:14px; font-family:"宋体";}
.fwxx_xx_jgjbxx ul li a {color:#06C; text-decoration:underline;}
.fwxx_xx_jgjbxx ul li a:hover {text-decoration:none;}


.fwxx_xx_xgfw h1 {font-size:20px;  font-family:"微软雅黑"; color:#333333; display:block; height:35px; line-height:35px;}
.fwxx_xx_xgfw h1 a {float:right; *margin-top:-36px;}
.fwxx_xx_xgfw ul {margin-top:10px;}
.fwxx_xx_xgfw ul li {display:block; width:240px; height:190px; margin-bottom:20px;}
.fwxx_xx_xgfw ul li p {width:240px; height:160px;}
.fwxx_xx_xgfw ul li p img {width:240px; height:160px;}
.fwxx_xx_xgfw ul li p img:hover { filter: alpha(opacity=70); /*For IE*/ -moz-opacity: 0.7; /*For Mozilla*/ opacity: 0.7; /*For FF*/ }
.fwxx_xx_xgfw ul li b a {height:30px; line-height:30px; text-align:center; color:#1369c0; font-weight:normal; display:block;font-size:14px; font-family:"宋体";}
/*放大镜*/
#preview{ float:none; text-align:center; width:445px; height:324px; background:red;}
.jqzoom{ width:445px; height:324px; position:relative;}
.jqzoom img{width:445px; height:324px;}

.zoomdiv{ left:859px; height:400px; width:400px;}
.list-h li{ float:left;}
#spec-n5{width:443px; height:78px; padding-top:6px; overflow:hidden; border:1px solid #eee;}
#spec-left{ background:url(../images/left.png) no-repeat; width:33px; height:79px; float:left; cursor:pointer;}
#spec-right{background:url(../images/right.png) no-repeat; width:33px; height:79px; float:right;cursor:pointer;}
#spec-list{ width:325px; float:left; overflow:hidden; margin-left:2px; display:inline;}
#spec-list ul li{ float:left; margin-right:0px; display:inline; width:54px; height:58px;}
#spec-list ul li img{ padding:2px; border:1px solid #ccc; width:48px; height:48px;}

/*jqzoom*/
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;background:url(i/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative; width:375px; height:69px; padding-top:10px;}
#spec-list ul li{padding-right:10px;}
#spec-list div{ margin-top:0; *margin-left:0;}

/*交易记录*/
.table01 thead{ border:1px solid #ddd;}
.table01 thead tr th{ height:34px; line-height:34px; text-align:center; font-size:14px; color:#666; font-weight:normal; background:#f9f9f9;font-family:"宋体";}
.table01 tbody{ border-left:1px solid #eee; border-right:1px solid #eee;}
.table01 tbody tr td{ height:73px; line-height:73px; font-size:14px; color:#333; text-align:center; font-family:"宋体";}
.table01 tbody tr td{ border-bottom:1px dashed #ddd;}

/*用户评价*/
.box_evaluate ul{padding-left:18px; background:#f9f9f9; border:1px solid #ddd;}
.box_evaluate ul li{ margin-right:30px; height:34px; line-height:34px;}
.box_evaluate ul li *{ vertical-align:middle;}
.box_evaluate ul li span{ display:inline-block; font-size:14px; color:#666;}
.ls_evaluate{ border:1px solid #eee; border-top:none; border-bottom:none;}
.ls_evaluate li{ padding:24px 0 26px 0; overflow:hidden; border-bottom:1px dashed #d5d5d5;}
.ls_evaluate li .img{ width:135px; float:left;}
.ls_evaluate li .img a:hover{ text-decoration:none;}
.ls_evaluate li .img img{ margin:0 auto;}
.ls_evaluate li .img span{ display:block; font-size:14px; font-family:"宋体"; text-align:center; line-height:36px;}
.ls_evaluate li .box_content{ width:760px;}
.box_star { padding:11px 0; overflow:hidden;}
.box_star span{ float:left; width:90px;height:16px; line-height:16px; background:url(../images/star.png) 0 0 no-repeat;}
.box_star span.star05{ background-position:0 0;}
.box_star span.star04{ background-position:0 -35px;}
.box_star span.star03{ background-position:0 -70px;}
.box_star span.star02{ background-position:0 -105px;}
.box_star span.star01{ background-position:0 -140px;}
.box_star span.star0{ background-position:0 -175px;}
.ls_evaluate li .box_content .p_content{ font-size:14px; font-family:"宋体"; line-height:32px;}
.ls_evaluate li .box_content .p_content span{ color:#bbb;}
.p_add,
.p_ex{ margin-top:14px; width:550px; height:48px; line-height:48px; color:#999; font-size:14px; font-family:"宋体"; background:#f9f9f9; text-indent:15px;}
.p_ex{ background:#fff7d7;}
.p_add span,
.p_ex span{ margin-left:2em; color:#999; font-size:14px; font-family:"宋体";}
.p_add strong,
.p_ex strong{ color:#333; font-size:14px; font-family:"宋体";}

.ls_guige{ margin-top:5px!important; width:470px;}
.ls_guige li{margin:5px 10px 0 0; height:28px!important;}
.ls_guige li a{ display:block; padding:0 20px; height:26px; line-height:23px; border:1px solid #c0c0c0; font-size:14px; font-family:"宋体"; word-break:keep-all;}
.ls_guige li.selected a{ border:1px solid #ff6601; background:url(../images/icon_115.png) right bottom no-repeat;}
.ls_guige li a:hover{ text-decoration:none;}
.ls_guige li a.more{ padding:0 10px; background:none; border:none; line-height:30px;}
.box_orderForm{ margin-top:12px; height:28px; line-height:28px;}
.box_orderForm input[type='text']{ margin-left:13px; padding:0 8px; width:40px; height:26px; line-height:26px; border:1px solid #c0c0c0;}
.box_orderForm .arr{ margin-left:5px; width:13px;}
.box_orderForm .arr a{ display:block; height:11px; width:11px; border:1px solid #333; background:#f4f4f4; text-align:center;}
.box_orderForm .arr i{ position:absolute; z-index:1; top:4px; left:1px; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 4px solid #333;}
.box_orderForm .arr a{ position:relative; z-index:1; opacity:0.5; filter:alpha(opacity:50);}
.box_orderForm .arr a:hover{ opacity:1; filter:alpha(opacity:100);}
.box_orderForm .arr .down i{border-top: 4px solid #333; border-bottom:0;}