<%- include header %>
<ul style="list-style:none;">
    <li>
        <h3>
            <a href="http://www.baidu.com" target="_blank">百度</a>
        </h3>
    </li>
    <li>
        <h3>
            <a href="http://www.cnblogs.com/" target="_blank">博客园</a>
        </h3>
    </li>
    <li>
        <h3>
            <a href="https://github.com/github1005682757/mxk/" target="_blank">github</a>
        </h3>
    </li>
</ul>
<%- include footer %>